

  <!-- <h1>visu</h1> -->

  <!-- <a routerLink="/subject" class="btn btn-info">subject</a> -->
   <!-- <a routerLink="/ip" class="btn btn-primary">In Patient</a> -->
  <!-- <a routerLink="/op" class="btn btn-warning">Out Patient</a> -->


  
  <app-subject></app-subject>
  <app-subject2></app-subject2>
  
  <!-- <div class="container">
    <ul class="nav nav-pills">
       <li><a routerLink="/ip">In PAtient</a></li>
       <li><a routerLink="/op">Out Patient</a></li>
       
     </ul>
   </div> -->
   
   <router-outlet></router-outlet>