

  <!-- <h1>visu</h1> -->

  <!-- <a routerLink="/subject" class="btn btn-info">subject</a> -->
   <!-- <a routerLink="/ip" class="btn btn-primary">In Patient</a> -->
  <!-- <a routerLink="/op" class="btn btn-warning">Out Patient</a> -->
<!-- <app-ang6-comp></app-ang6-comp> -->
<!-- <app-ang62></app-ang62> -->
<!-- <app-google-search></app-google-search> -->
<!-- <app-rxjs></app-rxjs> -->
<!-- <app-of-from></app-of-from> -->
<!-- <app-merge-map></app-merge-map> -->
<!-- <app-concat-map></app-concat-map> -->
<!-- <app-list-books></app-list-books> -->
<!-- <app-subject></app-subject> -->
  <!-- <app-subject2></app-subject2> -->
  <!-- <app-dependent-select></app-dependent-select> -->
  <!-- <div class="container">
    <ul class="nav nav-pills">
       <li><a routerLink="/ip">In PAtient</a></li>
       <li><a routerLink="/op">Out Patient</a></li>
       
     </ul>
   </div> -->
   
   <!-- <ul>
     <li *ngFor="let data of apiData">{{data.name}}--{{data.id}}--{{data.mobile}}</li>
   </ul> -->
   <!-- (valuechange)="onValueChange($event)"  [value]="defaultText" -->

<!-- <textarea appMarkdown  [(ngModel)]="defaultText">

</textarea> -->

<!-- <app-login></app-login> -->

<!-- <app-items-list></app-items-list> -->

<button (click)="itemsList()">Items List</button>

   <router-outlet></router-outlet>