<div class="container">
  <form #myForm="ngForm" (ngSubmit)="submit()">
      <div class="form-group">
          <label>Email</label>
          <input type="text" [(ngModel)]="mail" class="form-control" name="mail">
      </div>
  
      <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="pwd" class="form-control" name="pwd">
      </div>
  
      
      
      <input type="submit" value="submit" class="btn btn-warning">
  </form>








  <!-- <button (click)="getData()" class="btn btn-primary">Get Data</button>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Date of Birth</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of arrayData2">
                <td>{{data.name}}</td>
                <td>{{data.mobile}}</td>
                <td>{{data.dob}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
