<h3>visu</h3>
<button class="btn btn-danger" (click)="display()">display</button>

<div class="container">

  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Deignation</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let obj of arrayOfData">
        <td>{{obj.name}}</td>
        <td>{{obj.mobile}}</td>
        <td>{{obj.Designation}}</td>
      </tr>
    </tbody>

  </table>

</div>

<div class=" container custom">
  <h4>1st component</h4>
  <form #myForm="ngForm" (ngSubmit)="passData()">
  <input type="text" [(ngModel)]="user.Val" name="value" required>
  <input type="checkbox" [(ngModel)]="user.active" name="check" id="check" required>
  <button class="btn btn-warning" type="submit" >Send data to another component</button>
  </form>
  <button (click)="NameChange()">NameChange</button>
</div>

<app-subject2></app-subject2>